<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
   http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd">
    <bean id="propertyConfigurer " class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:properties/*.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="UTF-8" />
    </bean>
    <context:annotation-config />

    <context:component-scan base-package="com.lashou"/>

    <bean id="pushService" class="com.lashou.service.sms.biz.impl.PushServiceImpl"></bean>

    <!-- ============================================================== -->
    <!-- =========================Queue配置============================ -->
    <!-- ============================================================== -->
    <bean id="pushMessageQueue" class="com.lashou.service.sms.biz.message.queue.BasicQueue">
        <property name="maxSize" value="5000" />
    </bean>
    <bean id="smsMessageQueue" class="com.lashou.service.sms.biz.message.queue.BasicQueue">
        <property name="maxSize" value="5000" />
    </bean>
    <bean id="emailMessageQueue" class="com.lashou.service.sms.biz.message.queue.BasicQueue">
        <property name="maxSize" value="5000" />
    </bean>

    <!-- ============================================================== -->
    <!-- =========================Worker配置============================ -->
    <!-- ============================================================== -->
    <bean id="smsWorker" class="com.lashou.service.sms.biz.message.worker.impl.SmsWorker">
    </bean>
    <bean id="configListenerWorker" class="com.lashou.service.sms.biz.message.worker.impl.ConfigListenerWorker">
        <property name="path" value=""></property>
    </bean>

    <!-- =============================================================== -->
    <!-- =========================Sender配置============================ -->
    <!-- =============================================================== -->
    <bean id="smsSender" class="com.lashou.service.sms.biz.message.sender.impl.SmsSender">
    </bean>

    <!-- =============================================================== -->
    <!-- =========================SMS配置================================ -->
    <!-- =============================================================== -->
    <bean id="smsService" class="com.lashou.service.sms.biz.message.sms.service.impl.SmsServiceImpl"/>
    <bean id="mdSenderPool" class="com.lashou.service.sms.biz.message.sms.operators.mandao.MDSenderPool" lazy-init="true"/>
    <bean id="poolFactory" class="com.lashou.service.sms.biz.message.sms.common.SmsSenderPoolFactory">
        <property name="poolMap">
            <map>
                <entry key="md" value-ref="mdSenderPool"></entry>
            </map>
        </property>
    </bean>
    <bean id="httpClient" class="com.lashou.service.sms.biz.message.sms.common.HttpExecutor"/>
    <bean id="configInstance" class="com.lashou.service.sms.biz.message.worker.impl.ConfigListenerInstance"></bean>


    <!-- =============================================================== -->
    <!-- =========================Dispatcher配置============================ -->
    <!-- =============================================================== -->
    <bean id="dispatcher" class="com.lashou.service.sms.biz.message.dispatcher.Dispatcher" init-method="init"></bean>
    <bean id="queueDispatcher" class="com.lashou.service.sms.biz.message.dispatcher.QueueDispatcher"></bean>

    <!-- =============================================================== -->
    <!-- =========================StartUp配置============================ -->
    <!-- =============================================================== -->
    <bean id="startup" class="com.lashou.service.sms.biz.message.StartUp" init-method="startup">
        <property name="smsWorkerThreand" value="3"></property>
    </bean>


</beans>