#=======================================================#
#服务商配置列表，第一个为默认   雨辰润联:yc 鸿联:hl 漫道:md 亿美 ym
splist=yc,hl,md,ym,kjy
#短信价格，与上面的splist 数量和位置对应单位
sppricelist=2,1


#=======================================================#
#雨辰润联--配置  eg:http://42.96.160.99/cosms/interfaceT/getxiuhaoledb.aspx?uid=XiuHaoLe&pwd=3JmI9XnmxxgJwM9j6poVg&mobile=手机号码&Msg=信息体
yc.account.user=XiuHaoLe
yc.account.password=3JmI9XnmxxgJwM9j6poVg

yc.userId=uid
yc.passwordId=pwd
yc.mobileId=mobile
yc.msgId=msg
yc.type=2
yc.channelName=雨辰润联

yc.encode=GB2312
yc.CMCRatio=10
yc.CUCRatio=0
yc.CTCRatio=15

yc.maxMobilesSize=100
yc.httpResponseCode=

#单位：毫秒
yc.httpclientConnectionTimeout=2000
yc.url=http://42.96.160.99/cosms/interfaceT/getxiuhaoledb.aspx

yc.httpclientMaxTotal=200
yc.channelsSign=

#=======================================================#
#鸿联--配置  eg:http://q.hl95.com:8061/?username=***&password=***&message=ceshi&phone=13910123456&epid=111&linkid=&subcode=
hl.account.user=lashou
hl.account.password=ls123456

hl.userId=username
hl.passwordId=password
hl.msgId=message
hl.mobileId=phone
hl.channelCode=109210
hl.channelCodeId=epid
hl.channelName=鸿联

hl.encode=GB2312
hl.maxMobilesSize=50
hl.httpResponseCode=00

hl.CMCRatio=30
hl.CUCRatio=100
hl.CTCRatio=15

#单位：毫秒
hl.httpclientConnectionTimeout=2000
hl.url=http://q.hl95.com:8061

hl.httpclientMaxTotal=200
hl.channelsSign=【拉手网】

#======================================================#
#漫道--配置 单发
md.accounts1.user=SDK-BBX-010-19175
md.accounts1.password=D2C61200E53054E27612711D255613A3
md.accounts1.type=1

#群发
md.accounts2.user=DXX-BBX-010-18940
md.accounts2.password=A5F203C813737AB3922F6654AAA84759
md.accounts2.type=2

md.userId=sn
md.passwordId=pwd
md.msgId=content
md.mobileId=mobile

md.maxMobilesSize=500
md.channelName=漫道
md.encode=UTF-8
md.httpResponseCode=1

md.CMCRatio=20
md.CUCRatio=0
md.CTCRatio=50

#单位：毫秒
md.url=http://sdk2.entinfo.cn:8061/mdsmssend.ashx
md.channelsSign=【拉手】

#======================================================#
#亿美--配置
ym.account.user=8SDK-EMY-6688-JCTSS
ym.account.password=123456

ym.userId=cdkey
ym.passwordId=password
ym.mobileId=phone
ym.msgId=message
ym.channelName=亿美

ym.maxMobilesSize=200
ym.encode=UTF-8
ym.httpResponseCode=0

ym.CMCRatio=40
ym.CUCRatio=0
ym.CTCRatio=20

#单位：毫秒
ym.url=http://hprpt2.eucp.b2m.cn:8080/sdkproxy/sendsms.action

#========================================================#
#快加易--配置
kjy.account.user=lashouw
kjy.account.password=666888

kjy.userId=user
kjy.passwordId=pwd
kjy.mobileId=phonelist
kjy.mobileSplice=;
kjy.msgId=cont
kjy.channelName=快加易

kjy.channelCode=lswyx
kjy.channelCodeId=channel

kjy.maxMobilesSize=300
kjy.encode=GB2312
kjy.httpResponseCode=

kjy.CMCRatio=40
kjy.CUCRatio=0
kjy.CTCRatio=20

kjy.url=http:// 61.142.83.76:8055/SendMess.aspx




