#=======================================================#
#服务商配置列表，第一个为默认   雨辰润联:yc 鸿联:hl 漫道:md 亿美 ym
splist=yc,hl,md,ym
#短信价格，与上面的splist 数量和位置对应单位
sppricelist=2,1


#=======================================================#
#雨辰润联--配置  eg:http://42.96.160.99/cosms/interfaceT/getxiuhaoledb.aspx?uid=XiuHaoLe&pwd=3JmI9XnmxxgJwM9j6poVg&mobile=手机号码&Msg=信息体
yc.user=XiuHaoLe
yc.password=3JmI9XnmxxgJwM9j6poVg
yc.encode=GB2312,GBK

#单位：毫秒
yc.gateway.timeout=2000
yc.url=http://42.96.160.99/cosms/interfaceT/getxiuhaoledb.aspx
#.errno.mapping=00:10000;01:10000;03:10000;00:10001;07:10001;08:10001;09:10001;10:10001;-1:10002;0:10003
yc.errno.mapping=

yc.pool.maxclients=200
yc.pool.maxclientsperurl=200

#=======================================================#
#鸿联--配置  eg:http://q.hl95.com:8061/?username=***&password=***&message=ceshi&phone=13910123456&epid=111&linkid=&subcode=
hl.user=
hl.password=
hl.epid=
hl.encode=GB2312
hl.phone.maxnum=50

#单位：毫秒
hl.gateway.timeout=2000
hl.url=http://q.hl95.com:8061/
hl.errno.mapping=00:10000;1:10001;2:10001;3:10001;4:10002;5:10001;6:10001;7:10001;0:10003

hl.pool.maxclients=200
hl.pool.maxclientsperurl=200

#======================================================#
#漫道--配置
md.user=sn:
md.password=pwd:
md.post.phone.maxum=10000
md.get.phone.maxnum=500

#单位：毫秒
md.gateway.timeout=2000
md.url=http://sdk2.entinfo.cn/z_send.aspx
md.errno.mapping=00:10000;1:10001;2:10001;3:10001;4:10002;5:10001;6:10001;7:10001;0:10003


#======================================================#
#亿美--配置
ym.user=
ym.password=

#单位：毫秒
md.gateway.timeout=2000
md.url=http://sdk2.entinfo.cn/z_send.aspx
md.errno.mapping=00:10000;1:10001;2:10001;3:10001;4:10002;5:10001;6:10001;7:10001;0:10003


#respones.code
10000="发送成功"
10001="短信网关拒绝错误请求"
10002="短信网关内部错误"
10003="短信接口内部错误"
10004="未知错误"
