#=======================================================#
#服务商配置列表，第一个为默认   雨辰润联:yc 鸿联:hl 漫道:md 亿美 ym
splist=yc,hl,md,ym
#短信价格，与上面的splist 数量和位置对应单位
sppricelist=2,1


#=======================================================#
#雨辰润联--配置  eg:http://42.96.160.99/cosms/interfaceT/getxiuhaoledb.aspx?uid=XiuHaoLe&pwd=3JmI9XnmxxgJwM9j6poVg&mobile=手机号码&Msg=信息体
yc.user=XiuHaoLe
yc.userId=uid
yc.password=3JmI9XnmxxgJwM9j6poVg
yc.passwordId=pwd
yc.mobileId=mobile
yc.msgId=msg
yc.type=2

yc.encode=GB2312

#单位：毫秒
yc.httpclientConnectionTimeout=2000
yc.url=http://42.96.160.99/cosms/interfaceT/getxiuhaoledb.aspx

yc.httpclientMaxTotal=200

#=======================================================#
#鸿联--配置  eg:http://q.hl95.com:8061/?username=***&password=***&message=ceshi&phone=13910123456&epid=111&linkid=&subcode=
hl.user=lashou
hl.password=lashou2014
hl.userId=username
hl.passwordId=password
hl.msgId=message
hl.mobileId=phone
hl.channelCode=109210
hl.channelCodeId=epid

hl.encode=GB2312
hl.maxMobilesSize=50

#单位：毫秒
hl.httpclientConnectionTimeout=2000
hl.url=http://q.hl95.com:8061

hl.httpclientMaxTotal=200

#======================================================#
#漫道--配置
md.user=SDK-BBX-010-19175
md.password=pwd:
md.maxMobilesSize=500

#单位：毫秒
md.url=http://sdk2.entinfo.cn/z_send.aspx


#======================================================#
#亿美--配置
ym.user=
ym.password=255252

#单位：毫秒
md.url=http://sdk2.entinfo.cn/z_send.aspx


#respones.code
10000="发送成功"
10001="短信网关拒绝错误请求"
10002="短信网关内部错误"
10003="短信接口内部错误"
10004="未知错误"
